<p id="notice"><%= notice %></p>

<p>
  <strong>店名:</strong>
  <%= @shop.shopname %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @shop.telno %>
</p>

<p>
  <strong>住所:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>HP:</strong>
  <%= @shop.url %>
</p>
<p>
  <strong>平均点:</strong>
  <%= @shop.reviews.average(:score).round(1) %>
</p>
<%= link_to '編集', edit_shop_path(@shop) %> |
<%= link_to '戻る', shops_path %>
<%= link_to 'レビューを書く', new_shop_review_path(@shop) %>
<hr>

    <div class="row">
    <div class="col-lg-12">
    <h2>クチコミ一覧</h2>
    <div class="media-body">
      <% @shop.reviews.each do |review| %>
        <p>
          <%= review.body %> <br>評価：<%= review.score %> <br>
          by <%= review.user.name %>さん
        </p>
        <p class="text-muted">
        投稿日時：<%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
        <%#= link_to '削除', edit_review_path(@shop) %>
      </p>
      <% end %>
    </div>
    </div>
    </div>
    <hr>
    <h2>投稿者一覧</h2>
    <%# throughオプションのおかげで、BookはReviewを介してUserにアクセスできる  %>
    <% @shop.users.each do |user| %>
      <p><%= user.name %>さん</p>
    <% end %>


