<div class="row">
  <div class="col-lg-12">
    <h1>クチコミの登録</h1>
    <ul>
      <li>名店名：<%= @shop.shopname %></li>
      <li>電話番号：<%= @shop.telno %></li>
      <li>住所：<%= @shop.address %></li>
      <li>ホームページ：<%= @shop.url %></li>
    </ul>

    <hr>
    <%= render 'form' %>
  </div>
</div>
